body {
background-image: url('../img/hjemmesidebaggrund.png');
background-size: cover;
}
.tekstboks {
    background-color: #F1F1F1;
    width: 250px;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
}
