body {
background-image: url('../img/hjemmesidebaggrund.png');
background-size:100% auto;
background-repeat: no-repeat;
background-color: #f6f6f6;
}

.tekstboks {
  width: 250px;
  height: 300px;
  margin-left: 30px;
  margin-top: 30px;
  font-family: 'Source Sans Pro';
  padding: 0 0 0 10px;
}

.matematik {
  background-color: #F1F1F1;
  width: 250px;
  height: 180px;
  font-family: 'Source Sans Pro';
  margin-left: 325px;
  margin-top: -80px;
  padding: 0 0 0 10px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s, transform 1s, height 1s, width 1s;
}

.matematik:hover{
  opacity: 1;
  height: 195px;
}

.engelsk {
  background-color: #F1F1F1;
  width: 250px;
  height: 150px;
  font-family: 'Source Sans Pro';
  margin-left: 660px;
  margin-top: -220px;
  padding: 0 0 0 10px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s, transform 1s, height 1s, width 1s;
}

.engelsk:hover{
  opacity: 1;
  height: 170px;
}
.dansk {
  background-color: #F1F1F1;
  width: 250px;
  height: 150px;
  font-family: 'Source Sans Pro';
  margin-left: 475px;
  margin-top: 60px;
  padding: 0 0 0 10px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s, transform 1s, height 1s, width 1s;
}

.dansk:hover{
  opacity: 1;
  height: 180px;
}
.historie{
  background-color: #F1F1F1;
  width: 250px;
  height: 150px;
  font-family: 'Source Sans Pro';
  margin-left: 950px;
  margin-top: -520px;
  padding: 0 0 0 10px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s, transform 1s, height 1s, width 1s;
}

.historie:hover{
  opacity: 1;
  height: 200px;
}
