body {
background-image: url('../img/hjemmesidebaggrund.png');
<<<<<<< HEAD
background-size:100% auto;
background-repeat: no-repeat;
background-color: #f6f6f6;
=======
background-size: cover;
background-color: #f2f2f2;
background-repeat: no-repeat;
>>>>>>> aa5bafefd7d52dafa99873e1d36e993be44ff9cc
}
.tekstboks {
    background-color: #F1F1F1;
    width: 30%;
    max-width: 250px;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Source Sans Pro';

}
